# Ignore everything
*

# Keep .gitignore itself
!.gitignore

# Keep README.md itself
!README.md

# Keep directories
!Logic/
!UI/


# Keep everything inside them
!Logic/**
!UI/**

# Ignore Python caches
UI/__pycache__/
Logic/__pycache__/

# Keep main.py
!main.py

# Keep app .zip
!dist/Tetris-macOS.zip
