# Ignore everything
*

# Keep .gitignore itself
!.gitignore

# Keep README.md itself
!README.md

# Keep directories
!Logic/
!Map/
!templates/
!static/

# Keep everything inside them
!Logic/**
!Map/**
!templates/**
!static/**

# Keep main.py
!main.py